a.button {
    display: block;
    background: #373;
    padding: 0.4em;
    max-width: 20em;
    text-align: center;
    color: #efe;
    font-size: 140%;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #363;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.theme-by {
    opacity: 0.5;
    font-size: 70%;
}

.navbar-custom .avatar-container  .avatar-img-border {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

@media only screen and (min-width: 768px) {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
